.field {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding-bottom: 0.25em;
    .preview {
        height: 5em;
        aspect-ratio: 16/10;
        img {
            width: 100%;
            border-radius: 0.5rem;
            object-fit: cover;
        }
    }
    .placeHolder {
    }

    .input {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        margin-right: auto;
        input {
            display: none;
        }
    }
}

.gallery {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;

    h1 {
        border-bottom: 1px solid black;
        padding-bottom: 0.25em;
        font-size: 1.5rem;
        position: sticky;
        top: 0;
        z-index: 1;
        background-color: white;
    }
    .images {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;
    }
}
