:root {
    --font-face: iran-sans;
    --color-dark-1: #000523;
    --color-dark-2: #00dc82;
    --color-dark-3: #114ea1;
    --color-dark-3-lowest: #9b27b02e;
    --color-dark-4: #f0a94e;

    --color-dark-3-second: white;

    --color-blue: #0d6efd;
    --color-indigo: #6610f2;
    --color-purple: #6f42c1;
    --color-pink: #d63384;
    --color-red: #dc3545;
    --color-orange: #fd7e14;
    --color-yellow: #ffc107;
    --color-green: #198754;
    --color-teal: #20c997;
    --color-cyan: #0dcaf0;
    --color-white: #ffffff;
    --color-gray: #6c757d;
    --color-gray-dark: #343a40;
    --color-primary: #0d6efd;
    --color-secondary: #6c757d;
    --color-success: #198754;
    --color-info: #0dcaf0;
    --color-warning: #ffc107;
    --color-danger: #dc3545;
    --color-light: #f8f9fa;
    --color-dark: #212529;
    --font-color-dark-1: #888ea8;
    --color-font-color: white;
    --color-panel-item: #e0d9d9;
}
