.isSelected {
    background-color: red !important;
    color: white !important;
}

.icon {
    padding: 0.25rem;
    transition: all 0.5s;
    font-size: 2rem !important;
    border-radius: 1rem;

}
