.status {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    padding: 0.75em 2rem !important;
    font-size: 0.8rem;
    font-weight: 500;
    height: max-content !important;
    width: max-content !important;
    border-radius: 100rem;
    line-height: 0;

    --color-success-bg: #d4edda;
    --color-success-text: #155724;

    --color-primary-bg: #cce5ff;
    --color-primary-text: #004085;

    --color-type-2-bg: #e2e3ff;
    --color-type-2-text: #4f46e5;

    --color-type-4-bg: #fff3cd;
    --color-type-4-text: #856404;

    --color-light-bg: #f8f9fa;
    --color-light-text: #212529;

    --color-danger-bg: #f8d7da;
    --color-danger-text: #721c24;

    --color-warning-bg: #fff3cd;
    --color-warning-text: #856404;

    --color-panel-list-item-bg: #e2e3e5;
    --color-panel-list-item-text: #383d41;

    --color-indigo-bg: #e0e7ff;
    --color-indigo-text: #3730a3;
}

/* Apply variables for each variant */
.success {
    background-color: var(--color-success-bg);
    color: var(--color-success-text);
}

.type-2 {
    background-color: var(--color-type-2-bg);
    color: var(--color-type-2-text);
}

.primary {
    background-color: var(--color-primary-bg);
    color: var(--color-primary-text);
}

.type-4 {
    background-color: var(--color-type-4-bg);
    color: var(--color-type-4-text);
}

.light {
    background-color: var(--color-light-bg);
    color: var(--color-light-text);
}

.danger {
    background-color: var(--color-danger-bg);
    color: var(--color-danger-text);
}

.warning {
    background-color: var(--color-warning-bg);
    color: var(--color-warning-text);
}

.panel-list-item {
    background-color: var(--color-panel-list-item-bg);
    color: var(--color-panel-list-item-text);
}

.indigo {
    background-color: var(--color-indigo-bg);
    color: var(--color-indigo-text);
}
