.header {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-indigo);
    color: white;
    padding: 1em 0.25em;
    border-radius: 1rem;
    font-size: 1rem;
}

.group {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 1rem;
}

.body {
    display: grid;
    flex-direction: column;
    gap: 1rem;

    .child {
        border-radius: 1rem;
        // margin-left: 1rem;
    }
    .footer {
        margin-top: auto;
    }
}

/* Variants */
.success {
    .header {
        background-color: var(--color-dark-2);
        color: var(--color-dark-1);
    }
}

.type-2 {
    .header {
        background-color: red;
        color: white;
    }
}

.primary {
    .header {
        background-color: var(--color-dark-3);
        color: var(--color-dark-3-second);
    }
}

.warning {
    .header {
        background-color: var(--color-warning);
        color: white;
    }
}

.type-4 {
    .header {
        background-color: transparent;
        color: var(--color-dark-3-second);
        border: 1px solid var(--color-dark-3);
    }
}

.type-5 {
    .header {
        background-color: var(--color-dark-5);
        color: var(--color-dark-5-second);
    }
}

.danger {
    .header {
        background-color: var(--color-danger);
        color: white;
    }
}
