.education {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: rgb(232, 232, 232);
    border-radius: 1rem;
    padding: 1em;
    h1 {
        text-align: center;
        font-size: 1rem;
        border-bottom: 1px solid rgb(143, 143, 143);
        padding-bottom: 0.5em;
    }
    width: 100%;
}

.rows {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.row {
    display: flex;
    justify-content: space-between;
    font-size: 0.75rem;
    flex-wrap: wrap;
    max-width: 20rem;
}
