.ag-theme-material2 {
    --ag-background-color: rgba(255, 255, 255, 0.025);
    --ag-foreground-color: white;
    --ag-header-foreground-color: white;

    --ag-header-background-color: rgba(0, 0, 0, 0.1);
    --ag-header-hover-background-color: red;
    --ag-row-hover-color: gray;

    /* Row style */
    --ag-row-hover-color: var(--color-dark-2);
    /* --ag-odd-row-background-color: #f9fafb; */

    /* Borders and grid lines */
    --ag-border-color: transparent;
    --ag-cell-horizontal-border: none;
    --ag-cell-vertical-border: none;

    /* Font */
    --ag-font-size: 1rem;
    --ag-font-family: iran-sans;

    /* Checkbox color */
    --ag-checkbox-checked-color: white; /* blue */
    --ag-checkbox-color: white; /* blue */

    /* Selected row highlight */
    --ag-selected-row-background-color: var(--color-dark-2);
}

.ag-theme-material {
    font-family: iran-sans;
    font-size: 0.8rem;
    border-radius: 1rem;
    overflow: hidden !important;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.ag-theme-material .ag-header-cell:hover {
    background-color: rgba(0, 0, 0, 0.5) !important;
    cursor: pointer;
}

.ag-header-cell-label {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.ag-body {
    padding-bottom: 1em !important;
}

.ag-root {
    padding: 0em 0.5em !important;
    padding-bottom: 0.5em !important;
    .ag-body-vertical-scroll-viewport {
        padding-left: 1em !important;
    }
    .ag-body-horizontal-scroll-viewport {
        padding-bottom: 1em !important;
    }
    * {
        &::-webkit-scrollbar {
            width: 0.75rem;
            height: 0.75rem;
        }

        &::-webkit-scrollbar-thumb {
            background-color: rgba(128, 128, 128, 0.2);
            border-radius: 1rem;
            border: 2px solid transparent;
            background-clip: content-box;
        }

        &::-webkit-scrollbar-thumb:hover {
            background-color: var(--color-dark-1); /* stronger red on hover */
        }

        &::-webkit-scrollbar-button {
            display: none;
        }

        &::-webkit-scrollbar-track-piece {
            background: transparent;
        }
    }
}

.table-container-class {
    display: flex;
    width: 100%;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;

    .table-root {
        width: 100%;
    }
}
