.box {
    padding: 1.5em;
    border: 1px solid #0000001a;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    position: relative;
    gap: 0.5rem;
    width: 100%;
    transition: var(--trans-field);
    background: linear-gradient(180deg, rgba(87, 87, 87, 0.1), transparent);
    // box-shadow:
    //     10px 10px 0.25rem #00041e8c,
    //     -10px -10px 0.25rem #00062873;

    .header,
    legend {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.25rem;
        font-size: 1.5rem;
        padding: 0 1em !important;
        * {
            color: inherit !important;
        }
    }

    .legendFielSet {
        border-radius: 0.5rem;
        background-color: white;
        padding: 0.5em 1em !important;
        font-size: 0.9rem !important;
        line-height: 0 !important;
    }

    .content {
        width: 100%;
        margin-top: 0.5rem;
        transition: inherit !important;
    }

    .OverLay {
        position: absolute;
        inset: 0;
        z-index: 10000000000;
        margin: auto;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.loading {
    .content {
        filter: blur(10px);
    }
}
