.popup {
    font-family: iran-sans !important;
    padding: 0.25em 0.5em;
    border-radius: 0.25rem;
}

.label {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.25rem;
    background-color: rebeccapurple;
    width: max-content !important;
    height: 2rem !important;
    padding: 0em 0.5em;
    gap: 0.5rem;
}

/* Primary */
.primary {
    border: 2px solid var(--color-primary);
    background-color: color-mix(in srgb, var(--color-primary), white 80%);
    color: var(--color-primary);
}
.primary:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
}

/* Secondary */
.secondary {
    border: 2px solid var(--color-secondary);
    background-color: color-mix(in srgb, var(--color-secondary), white 80%);
    color: var(--color-secondary);
}
.secondary:hover {
    background-color: var(--color-secondary);
    color: var(--color-white);
}

/* Success */
.success {
    border: 2px solid var(--color-success);
    background-color: color-mix(in srgb, var(--color-success), white 80%);
    color: var(--color-success);
}
.success:hover {
    background-color: var(--color-success);
    color: var(--color-white);
}

/* Danger */
.danger {
    border: 2px solid var(--color-danger);
    background-color: color-mix(in srgb, var(--color-danger), white 80%);
    color: var(--color-danger);
}
.danger:hover {
    background-color: var(--color-danger);
    color: var(--color-white);
}

/* Warning */
.warning {
    border: 2px solid var(--color-warning);
    background-color: color-mix(in srgb, var(--color-warning), white 80%);
    color: var(--color-warning);
}
.warning:hover {
    background-color: var(--color-warning);
    color: var(--color-dark);
}

/* Info */
.info {
    border: 2px solid var(--color-info);
    background-color: color-mix(in srgb, var(--color-info), white 80%);
    color: var(--color-info);
}
.info:hover {
    background-color: var(--color-info);
    color: var(--color-dark);
}

/* Light */
.light {
    border: 2px solid var(--color-light);
    background-color: color-mix(in srgb, var(--color-light), white 80%);
    color: var(--color-dark);
}
.light:hover {
    background-color: var(--color-light);
    color: var(--color-dark);
}

/* Dark */
.dark {
    border: 2px solid var(--color-dark);
    background-color: color-mix(in srgb, var(--color-dark), white 80%);
    color: var(--color-dark);
}
.dark:hover {
    background-color: var(--color-dark);
    color: var(--color-white);
}
