.grid {
    display: grid;
    grid-template-rows: 0fr;
    transition: all 0.5s ease;
    position: relative;
}

.accordion {
    display: grid;
    overflow: hidden;
    transition: inherit;
}

.center {
    align-items: center !important;
    justify-content: center !important;
    .content {
        align-items: center;
        justify-content: center;
    }
}



.flex {
    display: flex !important;
    flex-wrap: wrap;
}

.grid {
    display: grid !important;
}

.expanded {
    grid-template-rows: 1fr;
}

.blur {
    .content {
        filter: blur(10px);
    }
}

// SPinner

.spinner {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    font-size: 1rem;
    background-color: var(--color-dark-3);
    width: max-content;
    margin: auto;
    padding: 1em 1.5em;
    border-radius: 0.5rem;
    gap: 0.5rem;
    transition: all 0.5s ease;
    box-shadow: 0.1rem 0.5rem 2rem 0.1rem rgba(255, 255, 255, 0.3);
    border: 3px solid rgba(255, 255, 255, 0.2);
    opacity: 0;
    user-select: none !important;
    pointer-events: none;
    height: max-content;
    span {
        border-bottom: 1px solid white;
        padding-bottom: 0.25em;
    }

    svg {
        font-size: 5rem;
        color: var(--color-dark-4);
        border-radius: 1rem;
        overflow: hidden;
        transition: inherit;
        &:hover {
            rotate: 40deg;
            scale: 0.75;
        }
    }

    &:hover {
        gap: 1rem;
    }
}
.spinnerShow {
    opacity: 1 !important;
}
