.content {
    margin: auto;
    height: 70dvh;
    min-width: 50dvw;
    width: max-content !important;
    color: black;
    position: fixed;
    inset: 0;
    border-radius: 1rem;
    padding: 1em;
    background-color: white;
    display: grid;
    grid-template-rows: 1fr max-content;
    gap: 1rem;
    .children {
        padding-left: 1em;
        overflow: auto;
        /* scrollbar width */
        &::-webkit-scrollbar {
            width: 8px;
        }

        /* track */
        &::-webkit-scrollbar-track {
            background: #f0f0f0;
            border-radius: 10px;
        }

        /* thumb */
        &::-webkit-scrollbar-thumb {
            background: red;
            border-radius: 10px;
        }

        /* thumb hover */
        &::-webkit-scrollbar-thumb:hover {
            background: #666;
        }
    }
}

.backdrop {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
