.item {
    color: white;
    text-decoration: none !important;
    border-radius: 0.5rem;
    transition: var((--trans-field));
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 0;
    .header {
        display: flex;
        justify-content: end;
        align-items: center;
        text-decoration: none;
        padding: 0.5em 1em;
        transition: var((--trans-field));
        border-radius: 0.5rem;
        gap: 0.5rem;
        font-size: 0.9rem;
        color: white;

        svg {
            font-size: 1.25rem;
        }
        &:hover {
            background-color: white;
            color: black;
        }
    }
    .body {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding-top: 0.5em;
        padding-right: 1em;
    }
}

.active {
    .header {
        opacity: 1 !important;
        background-color: var(--font-color-dark-1);
        color: white;
    }
}

.expanded {
    .header {
        background-color: rgba(255, 255, 255, 0.1);
        color: white;
    }
}
