.container {
    width: max-content;
    max-width: 50rem;
    flex-direction: column;
    gap: 1rem;
    background-color: white;
    padding: 1em;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}

.tabs {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 1em;
}

.actons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.disabled {
    input,
    textarea {
        pointer-events: none;
        opacity: 0.6; /* optional: make it look disabled */
    }
}

.forms {
    .body {
        margin-top: 1rem;
    }
    .form {
        direction: rtl;
    }
}
