.form {
    width: 30rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: white;
    padding: 1em;
    border-radius: 1rem;
}

.tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 1em;

    button {
        all: unset;
        display: flex;
        color: black;
        align-items: center;
        justify-content: center;
        padding: 0.25em 1em;
        border-radius: 0.5rem;
        gap: 0.5rem;
        background-color: rgba(129, 129, 129, 0.1);
        cursor: pointer;
        transition: all 0.5s ease;
        &:hover {
            background-color: var(--color-indigo);
            color: white;
        }
    }

    .isActive {
        background-color: var(--color-indigo);
        color: white;
    }
}

.child {
    direction: rtl;
}
