.uploader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    .image {
        display: flex;
        flex-direction: column;
        width: 100%;
        animation: fade 2s ease forwards;
        justify-content: center;
        align-items: center;
        position: relative;

        img {
            width: 100%;
            aspect-ratio: 16/10;
            object-fit: cover;
            border: 1px solid rgb(0, 0, 0);
            border-radius: 0.5rem;
        }
        .remove {
            color: white;
            padding: 0.25em;
            background-color: var(--color-danger);
            font-size: 2rem;
            border-radius: 100rem;
            position: absolute;
            cursor: pointer;
            transition: 0.5s ease all;
            &:hover {
                scale: 1.5;
            }
        }
    }

    .actions {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@keyframes fade {
    from {
        opacity: 0;
        scale: 0;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}
