.popup {
    background-color: var(--color-danger) !important;
    font-family: iran-sans !important;
    padding: 0.25em 0.5em;
    border-radius: 0.25rem;
}

.label {
    display: flex;
    height: max-content;
    padding: 0.25em;
    border-radius: 0.25rem;
    background-color: var(--color-danger);
}
