.sideBar {
    position: relative;
    overflow: hidden;
    height: 100dvh;
    width: 15rem;
    direction: ltr;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(10px);
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    ::-webkit-scrollbar {
        width: 10px;
    }
    ::-webkit-scrollbar-track {
        background: #93939300;
    }
    ::-webkit-scrollbar-thumb {
        background: #434343;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: #000000;
    }

    * {
        user-select: none;
        ::-webkit-scrollbar {
            width: 10px;
        }
        ::-webkit-scrollbar-track {
            background: #939393;
        }
        ::-webkit-scrollbar-thumb {
            background: #434343;
        }
        ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
    }
    .menu {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 1em;
        overflow: auto;
        border-top: 1px solid rgba(255, 255, 255, 0.4);

        .exit {
            margin-top: auto;
            background-color: var(--color-danger);
            border-radius: 100rem;

            * {
                color: white !important;
                opacity: 1 !important;
            }
        }
    }

    .user {
        border-radius: 0 0 0rem 0rem;
        width: 100%;
        padding: 1em 2em;
        border-top: 1px solid rgba(255, 255, 255, 0.4);
        gap: 1rem;
        background-color: var(--color-primary);
        margin-top: auto;
        .logout {
            color: red;
            background-color: white;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            padding: 0.5rem;
        }
    }

    &::-webkit-scrollbar {
        width: 8px;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 0.1);
        border-radius: 100rem;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
    .logout {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        background-color: white;
        width: 80%;
        margin: 0 auto;
        position: absolute;
        bottom: 0;
        border-radius: 1rem;
        padding: 0.25em 2em;
        transform: translateY(3.5rem);
        left: 0;
        right: 0;
        transition: all 0.5s ease;
        &:hover {
            transform: translateY(-2rem);
        }
        button {
            all: unset;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #000000;
            padding: 0.25em 1em;
            gap: 0.25rem;
            transition: inherit;
        }
        p {
            color: black;
            text-align: center;
            font-size: 0.75rem;
            direction: rtl;
            width: 100%;
        }
    }
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em 0;
    img {
        width: 80%;
    }
}

@media only screen and (max-width: 600px) {
    .sideBar {
        position: absolute;
        right: 0;
        top: 0;
        transform: translateX(100%);
        transition: all 0.5s ease;
        z-index: 10;
    }
    .showSideBar {
        transform: translateX(0%);
    }
}
