.gallery {
}

.header {
    display: flex;
    .buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.25rem;
        font-size: 1.5rem;
        margin-right: auto;

        svg {
            cursor: pointer;
        }
    }
}
