.button {
    --button-back-color: white;
    --button-font-color: black;

    min-width: 15ch !important;
    all: unset;
    padding: 0.5em 1em;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 0.25rem;
    transition: var(--trans-button);

    background-color: var(--button-back-color);
    color: var(--button-font-color);
    font-size: 0.8rem;

    * {
        color: var(--button-font-color);
    }

    &:disabled {
        opacity: 0.5;
    }
}

.disabled {
    pointer-events: none !important;
    background-color: rgba(255, 255, 255, 0.1) !important;
    * {
        color: white !important;
    }
}

.success {
    --button-back-color: var(--color-dark-2);
    --button-font-color: var(--color-dark-1);
}
.type-2 {
    --button-back-color: red;
    --button-font-color: white;
}

.primary {
    --button-back-color: var(--color-dark-3);
    --button-font-color: var(--color-dark-3-second);
}

.warning {
    --button-back-color: var(--color-warning);
    --button-font-color: white;
}

.type-4 {
    --button-back-color: transparent;
    --button-font-color: var(--color-dark-3-second);
    border: 1px solid var(--color-dark-3);
}

.type-5 {
    --button-back-color: var(--color-dark-5);
    --button-font-color: var(--color-dark-5-second);
}

.danger {
    --button-back-color: var(--color-danger);
    --button-font-color: white;
}

.normal {
}

.small {
    font-size: 0.8rem !important;
}

.big {
}

.panel-list-item {
    background-color: var(--color-panel-item) !important;
    * {
        color: var(--color-dark-1) !important;
    }
}
