.headers {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black !important;
    h2 {
        font-size: 1rem;
    }
    img {
        width: 10rem;
        padding: 0.5em;
    }
}
