.image {
    width: 100%;
    border-radius: 1rem;
    object-fit: cover;
    aspect-ratio: 16/10;
    border: 1px solid black;
}

.skill {
    font-size: 0.75rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: start;
    svg {
        opacity: 0.5;
        font-size: 0.5rem !important;
    }
}

.description {
    opacity: 0.75;
    font-size: 0.9rem;
}
