.header {
    display: flex;
    border-bottom: 2px dashed rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;

    .edit {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding: 0.5em;
     
    }

    .title {
        padding: 0.25em 0;
    }

    .buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.25rem;
        font-size: 1.5rem;
        margin-right: auto;
        svg {
            cursor: pointer;
        }
    }
}
