.header {
    display: flex;
    border-bottom: 2px dashed rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5em;

    .edit {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding: 0.5em;
        input {
            all: unset;
            box-shadow: 0rem 0rem 0.3rem 0 rgb(217, 217, 217);
            border-radius: 0.25rem;
            padding: 0.25em 0.5em;
        }
    }

    .title {
        padding: 0.25em 0;
    }

    .buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.25rem;
        font-size: 1.5rem;
        margin-right: auto;
        svg {
            cursor: pointer;
        }
    }
}
