.header {
    padding: 0.25em 1em;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.02);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .left{}
    .right{
        display: flex;
        align-items: center;
        gap: 0.5rem;
        .menu {
            font-size: 2rem;
        }
    }
}
