.accordion {
    display: grid;
    grid-template-rows: 0fr;
    transition: var((--trans-accordion-fade));
    opacity: 0;

    .children {
        overflow: hidden;
        transition: inherit !important;
    }
}

.expand {
    grid-template-rows: 1fr;
    opacity: 1;
}
