.field {
    all: unset;
    width: 100% !important;
    position: relative;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    transition: 0.5s ease all;
    box-shadow: 0.3rem 0.5rem 0.5rem 0rem transparent;
    font-size: 0.9rem;
    background-color: rgba(255, 255, 255, 1);

    &:hover {
        box-shadow: 0.3rem 0.5rem 0.5rem 0rem rgba(255, 255, 255, 0.25);
    }
}

.legend {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    padding: 0.25em 1em;
    margin: 0 2rem;
    border-radius: 100rem;
    font-size: 0.75rem;
    border: inherit;
    box-shadow: 0.3rem 0.3rem 0.25rem 0rem transparent;
    transition: inherit;
    background-color: #290f56;

    span {
        display: flex;
    }
    svg {
        font-size: 1rem;
    }
}

.content {
    // margin-top: 0.25rem;
    padding: 0.25em 1em;
    color: black;
    input[type="text"],
    input[type="password"],
    input[type="number"],
    input[type="tel"] {
        all: unset;
        width: 100%;
        height: 100%;
    }

    textarea {
        width: 100%;
        height: 100%;
        color: black !important;
        border: none !important;
        outline: none !important;
        font-family: inherit !important;
        resize: none;
    }
}

.success {
    .legend {
        box-shadow: 0.3rem 0.3rem 0.25rem 0rem rgba(0, 0, 0, 0.1);
        background-color: var(--color-success);
    }
}

.danger {
    .legend {
        background-color: var(--color-danger);
        box-shadow: 0.3rem 0.3rem 0.25rem 0rem rgba(0, 0, 0, 0.1);
    }
}

.value {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0.3rem 0.5rem 0.5rem 0rem rgba(255, 255, 255, 0.25);
}

.tooltip {
    height: max-content;
    position: absolute;
    left: 1rem;
    cursor: pointer;
}

.errorMessage {
    background-color: var(--color-danger);
}

.variant-light {
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.disabled {
    cursor: no-drop;
    opacity: 0.4;
    * {
        pointer-events: none;
    }
}
