.container {
    --panel-box-gap: 1.5rem;
    display: grid;
    grid-template-columns: max-content 1fr;
    transition: var((--trans-field));
}

.page {
    overflow: auto;
    padding: 1em var(--panel-box-gap);
    height: 90dvh;
    margin: auto;
}

@media only screen and (max-width: 600px) {
    .container {
        display: flex;
        flex-direction: column;
    }
}
