.container {
    --panel-box-gap: 1.5rem;
    display: grid;
    grid-template-columns: max-content 1fr;
    transition: var((--trans-field));
    gap: 1rem;
}

.page {
    overflow: auto;
    margin: auto;
    width: 100%;
    max-height: 100dvh;
    padding: 2em 0;
}

@media only screen and (max-width: 600px) {
    .container {
        display: flex;
        flex-direction: column;
    }
}
