.row {
    display: flex;
  
    border-radius: 1rem;
    gap: 1rem;
    transition: all 0.5s ease;
    .select {
        display: flex;
        align-items: center;
        justify-content: center;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        color: white;
        border-radius: 100rem;
        transition: inherit;
        background-color: var(--color-success);
        opacity: 0.5;

    }
}

.row:has(input[type="checkbox"]:checked) {
    background-color: rgba(0, 200, 0, 0.2);
    .select {
        opacity: 1;
    }
}
