.image {
    position: relative;
    border-radius: 0.25rem;
    overflow: hidden;
    transition: all 0.5s ease;
    aspect-ratio: 16/10;
    box-shadow: 0.3rem 0.3rem 0.5rem 0rem rgb(215, 215, 215);
    border: 1px solid rgba(255, 255, 255, 0.1);

    img {
        display: flex;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .info {
        position: absolute;
        inset: 0;
        overflow: hidden;
        display: grid;
        grid-template-columns: 1fr max-content;
        // opacity: 0;
        transition: 0.5s ease all;
        .buttons {
            color: black;
            font-size: 1.5rem;
            background-color: white;
            padding: 0.25em;
            color: white;
            transform: translateX(-110%);
            transition: all 0.5s ease;
            height: 100%;
            width: max-content;
            svg {
                cursor: pointer;
            }
        }
        .detail {
            display: flex;
            flex-direction: column;
            background-color: var(--color-info);
            transform: translateX(-200%);
            transition: all 1s ease-in-out;
            padding: 0.5em;
            gap: 0.5rem;
            .row {
                display: flex;
                gap: 0.5rem;
                justify-content: space-between;
                small {
                    background-color: white;
                    color: black;
                    text-align: center;
                    padding: 0.25em 0.5em;
                    font-size: 0.6rem !important;
                    border-radius: 0.25rem;
                }
                span {
                    font-size: 0.85rem;
                    border-bottom: 1px solid white;
                }
            }
        }
    }

    &:hover {
        .info {
            opacity: 1;
            .buttons {
                transform: translateX(0%);
            }
            .detail {
                transform: translateX(-0%);
            }
        }
    }
}
