.item {
    color: white;
    text-decoration: none !important;
    border-radius: 0.5rem;
    transition: var((--trans-field));
    display: flex;
    .header {
        display: flex;
        justify-content: end;
        align-items: center;
        text-decoration: none;
        transition: var((--trans-field));
        gap: 0.5rem;
        font-size: 0.8rem;
        color: white;
        padding: 0.25em 0em !important;
        border-bottom: 2px solid transparent;
        margin-left: auto;

        svg {
            font-size: 4px;
        }

        &:hover {
            color: var(--font-color-dark-1);
        }
    }
}

.active {
    opacity: 1 !important;
    .header {
        border-bottom: 2px solid white;
        width: max-content;
    }
}
