@font-face {
    font-family: iran-sans;
    src: url("/fonts/iran-sans.ttf");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}

span {
    display: flex;
}

:root {
    font-family: iran-sans;
    direction: rtl;
    color: var(--color-font-color);
}

.App {
    min-width: 100dvw;
    min-height: 100dvh;
    background: url("/images/background/background-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition:
        background-color 600000s 0s,
        color 600000s 0s;
}
input[data-autocompleted] {
    background-color: transparent !important;
}

img {
    display: flex;
    will-change: transform;
}

.slick-list {
    margin: 0 -7px;
    & .slick-slide > div {
        padding: 0 10px;
    }
}
