* {
    &:hover {
        &::-webkit-scrollbar-thumb {
            background-color: rgba(255, 255, 255, 0.3);
        }
    }

    ::-webkit-scrollbar {
        width: 0.5rem;
        background-color: rgba(255, 255, 255, 0.3);
    }
    ::-webkit-scrollbar-track {
        background-color: rgba(255, 255, 255, 0.3);
    }
    ::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.3);
        transition: all 0.5s ease;
        border-radius: 100rem;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: gray;
    }
}
