.swal2-container {
    z-index: 999999999999999 !important;
    background-color: rgba(0, 0, 0, 0.7) !important;
    * {
        font-family: inherit !important;
    }
    .swal2-popup {
        font-size: 1rem !important;
        width: max-content;
        background-color: #1b2735 !important;
        color: white;
        border-radius: 1rem;

        * {
            font-family: inherit !important;
        }

        .swal2-confirm  {
            background-color: var(--color-danger) !important;
        }

        .swal2-deny  {
            background-color: var(--color-primary) !important;
        }

        button {
            width: 6rem !important;
            padding: 0.33em 1em;
        }
      

       
    }
}
