.pagination {
    .page-item {
        border-radius: 0.5rem ;
        overflow: hidden;
        background-color: transparent;
    }
    .active {
        border: none !important;
        .page-link {
        border: none !important;

            background-color: var(--color-dark-3) !important;

        }
    }
}
