.header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    width: max-content;
    max-height: max-content;
    padding: 0.5em 0;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    padding-left: 0.5em;
    * {
        padding: 0 !important;
        font-size: 0.8rem !important;
    }
}
