.pageContainer {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    min-height: 100dvh;
    padding-top: 1em;
    padding-left: 1em;
    padding-bottom: 1em;
    align-items: center;
    justify-content: center;
    position: relative;
}

.content {
    display: flex;
    animation: fade-in 1s ease forwards;
    width: 100%;
    justify-content: center;
}

.isLoading {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
    z-index: 5;
    animation: fade 1s ease forwards;
    .loader {
        display: flex;
        align-items: center;
        width: max-content;
        height: max-content;
        gap: 0.5rem;
        background-color: var(--color-primary);
        font-size: 1.25rem;
        padding: 0.25em 1em;
        border-radius: 0.5rem;
        box-shadow: 0 0 3rem 0.5rem var(--color-primary);
        border: 2px solid rgba(255, 255, 255, 0.5);
        svg {
            font-size: 1.5rem;
        }
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
