.pageContainer {
    min-height: 100%;
    // height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
}

.loading {
    position: fixed;
    inset: 0;
    height: 100dvh;
    width: 100dvw;
    z-index: 999;
}

.content {
    animation: fade-in 1s ease forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
        scale: 0.7;
        // transform: translateY(5rem);
    }
    to {
        scale: 1;
        opacity: 1;
    }
}
