.pageContainer {
    min-height: 100%;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    > * {
        animation: fadeIn 1s ease;
    }
}

.loading {
    background-color: rebeccapurple !important;
    position: fixed;
    inset: 0;
    height: 100dvh;
    width: 100dvw;
    z-index: 999;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(5rem);
    }
    to {
        opacity: 1;
    }
}
