.pageContainer {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    min-height: 100dvh;
    padding-top: 1em;
    padding-left: 1em;
    padding-bottom: 1em;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    animation: fade-in 1s ease forwards;
    width: 100%;
    justify-content: center;
    
}

.center {
}
