.text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    font-size: 1.25rem;
    color: var(--color-warning);
    svg {
        cursor: pointer;
        transition: 0.5s ease all;
        &:hover {
            scale: 1.25;
        }
    }
}
