.tab {
    all: unset;
    display: flex;
    color: black;
    align-items: center;
    justify-content: center;
    padding: 0.25em 1em;
    border-radius: 0.5rem;
    gap: 0.5rem;
    background-color: rgba(129, 129, 129, 0.1);
    cursor: pointer;
    transition: all 0.5s ease;
    &:hover {
        background-color: var(--color-indigo);
        color: white;
    }
}

.isActive {
    background-color: var(--color-indigo);
    color: white;
}
